<div class="flex flex-column">
  <h2 class="text-start color">Completa los campos:</h2>

  <mat-form-field>
    <mat-label>Mail</mat-label>
    <input type="text" matInput placeholder="Nombre de usuario" [(ngModel)]="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput placeholder="Contraseña" [(ngModel)]="password">
  </mat-form-field>

  <a [routerLink]="'/main'" class="btn btn-primary" (click)="login()">Ingresar</a>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/new-account">¿No tienes una cuenta?</a>
  </div>
</div>
