<h2 class="titulo m-3 fs-4">Listado de empleados</h2>

<div class="px-6 py-4">

  <!-- filter -->
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>

<div class="mat-elevation-z5">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- apellido Column -->
    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
    </ng-container>

    <!-- dni Column -->
    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
      <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
    </ng-container>

    <!-- role Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>

    <!-- senority Column -->
    <ng-container matColumnDef="senority">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Senority </th>
      <td mat-cell *matCellDef="let element"> {{element.senority}} </td>
    </ng-container>

    <!-- sex Column -->
    <ng-container matColumnDef="sex">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexo </th>
      <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
    </ng-container>

    <!-- acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="d-flex justify-content-evenly">
        <a href="#" class="pointer" style="color: #1878b0" matTooltip="Ver usuario">
          <mat-icon>search</mat-icon>
        </a>
        <a href="#" class="pointer" style="color: #1f516f" matTooltip="Editar usuario">
          <mat-icon>edit</mat-icon>
        </a>
        <a href="#" class="pointer" style="color: #e15639" matTooltip="Eliminar usuario">
          <mat-icon>delete</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- paginator -->
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

</div>

