<div class="flex flex-column">
  <h2 class="text-start color">Registrate aquí:</h2>

  <mat-form-field>
    <mat-label>Mail</mat-label>
    <input type="email" matInput placeholder="Escribe tu email" [(ngModel)]="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput placeholder="Contraseña" [(ngModel)]="password">
  </mat-form-field>

  <a routerLink="/auth/login" class="btn btn-primary" (click)="register()">Registrarse</a>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/login">¿Ya tienes una cuenta?</a>
  </div>
</div>
