<h2 class="titulo m-3 fs-4">Bienvenido de nuevo</h2>

<div class="row mx-3"> <!-- tips -->

  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ITR tips <span class="text-body-secondary">- Angular </span></h5>
        <p class="card-text">Verifica que los archivos CSS de Bootstrap estén vinculados correctamente en tu página HTML. Asegúrate de que la ruta del archivo CSS sea correcta y que no haya errores de carga. Aplica técnicas de almacenamiento en caché en tu back-end para mejorar el rendimiento de la aplicación, minimizando las consultas a la base de datos y reduciendo la carga del servidor.</p>
        <!-- boton -->
        <button class="btn btn-primary w-100 btn-itr" (click)="openModal(myModalContent)">Ver más</button>
        <!-- modal -->
        <ng-template #myModalContent>
          <div class="modal-header">
            <h5 class="modal-title"> Angular </h5>
            <button type="button" class="close" aria-label="Close" (click)="modalService.dismissAll()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Tip: Utiliza el cambio de detección "OnPush" en tus componentes cuando sea posible. Esto ayuda a mejorar el rendimiento al reducir la frecuencia de las verificaciones de cambio en Angular.</p>
            <p>Al establecer el cambio de detección en "OnPush" en un componente, Angular solo volverá a evaluar y actualizar el componente cuando se produzcan cambios en sus entradas (@Input) o cuando se dispare un evento dentro del componente. Esto evita que se realicen verificaciones innecesarias en cada ciclo de detección de cambios y mejora el rendimiento de la aplicación.</p>
          </div>
        </ng-template> <!-- fin de modal -->
      </div>
      <div class="card-footer text-body-secondary text-center">
        2 days ago
      </div>
    </div>
  </div> <!--fin de card -->

  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ITR tips<span class="text-body-secondary">- Bootstrap </span></h5>
        <p class="card-text">Asegúrate de que estés utilizando la versión correcta de Bootstrap. Las clases y estilos pueden variar según la versión de Bootstrap que estés utilizando. Si estás siguiendo la documentación de una versión específica, verifica que coincida con la versión que estás utilizando.</p>
        <!-- boton -->
        <button class="btn btn-primary w-100 btn-itr" (click)="openModal(myModalContent)">Ver más</button>
        <!-- modal -->
        <ng-template #myModalContent>
          <div class="modal-header">
            <h5 class="modal-title"> bootstrap </h5>
            <button type="button" class="close" aria-label="Close" (click)="modalService.dismissAll()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Utiliza el sistema de rejilla (Grid System) de Bootstrap para crear diseños responsivos. El sistema de rejilla de Bootstrap está basado en una estructura de columnas y filas, lo que te permite dividir tu contenido en diferentes columnas que se adaptan automáticamente a diferentes tamaños de pantalla.</p>
            <p>Aprovecha los componentes predefinidos de Bootstrap para agilizar el desarrollo. Bootstrap ofrece una amplia gama de componentes reutilizables, como botones, barras de navegación, tarjetas, formularios, entre otros. Utilizar estos componentes te ayudará a mantener un estilo coherente y ahorra tiempo de desarrollo.</p>
          </div>
        </ng-template>  <!-- fin de modal -->
      </div>
      <div class="card-footer text-body-secondary text-center">
        2 days ago
      </div>
    </div>
  </div> <!--fin de card -->

  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ITR tips <span class="text-body-secondary">- Java </span></h5>
        <p class="card-text">Si estás usando una versión personalizada de Bootstrap o has modificado los estilos, verifica si hay reglas CSS que puedan estar anulando el color de fondo que estás tratando de aplicar. Utiliza las herramientas de desarrollo del navegador para inspeccionar los estilos aplicados al botón y verifica si hay reglas CSS que estén afectando al color de fondo.</p>
        <a href="#" class="btn btn-primary w-100 btn-itr">Ver más</a>
      </div>
      <div class="card-footer text-body-secondary text-center">
        2 days ago
      </div>
    </div>
  </div> <!--fin de card -->

  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ITR tips <span class="text-body-secondary">- JavaScript </span></h5>
        <p class="card-text">Asegúrate de que la clase de color que estás utilizando sea compatible con la versión de Bootstrap que estás utilizando. Algunas clases de color pueden variar entre versiones, por lo que es importante asegurarse de que estés utilizando la clase correcta para la versión de Bootstrap que tienes.</p>
        <a href="#" class="btn btn-primary w-100 btn-itr">Ver más</a>
      </div>
      <div class="card-footer text-body-secondary text-center">
        2 days ago
      </div>
    </div>
  </div> <!--fin de card -->

</div> <!--fin de tips-->


<h2 class="titulo m-3 fs-4">Últimas noticias de ITR</h2> <!--noticias -->
<div class="card mb-3 m-4">
  <img src="https://www.michaelpage.pe/sites/michaelpage.pe/files/2021-04/wt_open_.jpg" class="card-img-top" alt="noticia">
  <div class="card-body">
    <h5 class="card-title">Woman in tech</h5>
    <p class="card-text">Las mujeres en tecnología son poderosas agentes de cambio que desafían los límites y redefinen los estándares en el mundo digital. Su pasión y habilidades son fundamentales para impulsar la innovación y construir un futuro inclusivo. Desde programadoras y diseñadoras hasta ingenieras y científicas de datos, las mujeres en tecnología están rompiendo barreras, inspirando a las generaciones futuras y creando soluciones creativas para los desafíos del siglo XXI. Su presencia en este campo no solo demuestra su talento excepcional, sino también su capacidad para liderar y transformar industrias enteras. Las mujeres en tecnología son modelos a seguir, y su dedicación y perseverancia nos impulsan a todos a alcanzar nuevas alturas.</p>
    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
  </div>
</div> <!--fin de noticias -->



<h2 class="titulo m-3 fs-4">Nuevos cursos de Udemy </h2>

<div class="mx-4">
  <div class="row">

    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card mb-3">
        <img src="https://cdn.hashnode.com/res/hashnode/image/upload/v1616740736949/9VetBuaqL.png" class="img-fluid rounded-start h-100" alt="curso">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          <!-- boton -->
          <button class="btn btn-primary w-100 btn-itr">Ver más</button>
        </div>
      </div>
    </div> <!--fin de card cursos -->

    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card mb-3">
        <img src="https://blog.templatetoaster.com/wp-content/uploads/2019/09/What-is-Bootstrap-Facebook.png" class="img-fluid rounded-start h-100" alt="curso">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          <!-- boton -->
          <button class="btn btn-primary w-100 btn-itr">Ver más</button>
        </div>
      </div>
    </div> <!--fin de card cursos -->

    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card mb-3">
        <img src="https://muytecnologicos.com/wp-content/uploads/2023/01/Ventajas-y-desventajas-de-javascript.jpeg" class="img-fluid rounded-start h-100" alt="curso" >
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <!-- boton -->
            <button class="btn btn-primary w-100 btn-itr">Ver más</button>
        </div>
      </div>
    </div> <!--fin de card cursos -->

    <div class="col-md-4  d-flex align-items-stretch">
      <div class="card mb-3">
        <img src="https://blog.codmind.com/content/images/2021/01/banner-12.jpg" class="img-fluid rounded-start h-100" alt="curso">
        <div class="card-body ">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <!-- boton -->
            <button class="btn btn-primary w-100 btn-itr">Ver más</button>
        </div>
      </div>
    </div> <!--fin de card cursos -->

    <div class="col-md-4  d-flex align-items-stretch">
      <div class="card mb-3">
        <img src="https://cdn.wallpapersafari.com/86/47/beOFkU.jpg" class="img-fluid rounded-start h-100" alt="curso">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <!-- boton -->
            <button class="btn btn-primary w-100 btn-itr">Ver más</button>
        </div>
      </div>
    </div> <!--fin de card cursos -->

    <div class="col-md-4  d-flex align-items-stretch">
      <div class="card mb-3">
        <img src="https://i.ytimg.com/vi/dJzLmjSJc2c/maxresdefault.jpg" class="img-fluid rounded-start h-100" alt="curso">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <!-- boton -->
            <button class="btn btn-primary w-100 btn-itr">Ver más</button>
        </div>
      </div>
    </div> <!--fin de card cursos -->

    <!-- Agrega más tarjetas aquí -->

  </div>
</div> <!--fin de cursos -->
